.search .search-input input[type=text]::placeholder, .search .search-input input[type=text].focus {
    background: #0d071e !important;
}
.vibrating-button {
    padding: 10px 16px;
    background-color: #b81b0e;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 14px;
    transition: background-color 0.3s ease, transform 0.2s;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 35px;
}
.vibrating-button:hover {
    background-color: #b81b0e !important;
    transform: scale(1.05);
}