/* Style général pour le fond de la page */
body, html {
    background-color: #0d071e !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Conteneur principal qui occupe tout l'espace disponible */
.main-container {
    background-color: #0d071e;
    flex-grow: 1;
    padding-top: env(safe-area-inset-top); /* Pour l'encoche sur les appareils mobiles */
    padding-bottom: env(safe-area-inset-bottom);
    overflow: auto;
}

/* Barre supérieure avec la couleur autour de l'encoche */
.header {
    background-color: #b81b0e;
    padding-top: env(safe-area-inset-top);
    padding-bottom: 10px; /* Ajuster si besoin */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo et titre du site dans la barre supérieure */
.header .logo {
    color: #ffffff;
    font-size: 1.5rem;
    padding-left: 10px;
}

/* Pour centrer et agrandir les icônes de recherche et menu */
.header .icons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

/* Assurer que le contenu principal est bien visible */
.content {
    background-color: #0d071e;
    padding: 20px;
    flex-grow: 1;
}

/* Assurez-vous que la couleur du texte et des éléments est bien visible */
h1, h2, h3, p, a {
    color: #ffffff;
}
