/* Styles pour la nav bar */
.header {
    background-color: #b81b0e;
    padding-top: env(safe-area-inset-top);
    padding-bottom: 10px; /* Ajustez selon vos préférences */
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Pour que la nav bar soit toujours au-dessus du contenu */
}

/* Style du logo et du nom du site dans la nav bar */
.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 40px;
    height: 40px;
    margin-right: 8px; /* Espace entre le logo et le texte */
}

.header .logo-text {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

/* Styles pour les icônes de recherche et de menu */
.header .icon-container {
    display: flex;
    gap: 10px;
}

.header .icon-container i {
    color: #fff;
    font-size: 20px;
}

/* Styles pour le conteneur principal */
.main-container {
    background-color: #0d071e !important;
    padding-top: calc(env(safe-area-inset-top) + 60px); /* 60px correspond à la hauteur de la nav bar, ajustez si besoin */
    padding-bottom: env(safe-area-inset-bottom);
    overflow: auto;
}

/* Styles pour les sections de contenu */
.section {
    padding: 20px;
    color: #fff;
}

/* Style des titres de section */
.section h2 {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style des boutons Voir Tout */
.section .view-all {
    color: #b81b0e;
    font-size: 16px;
    text-decoration: none;
}

/* Style pour les cartes de contenu (affiches de films) */
.card {
    background-color: #0d071e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card-title {
    background-color: #b81b0e;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

/* Styles des flèches de navigation */
.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #b81b0e;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

