:root {
    --plyr-color-main: #b81b0e !important;
    --plyr-font-family: Rubik !important;
    --plyr-font-weight-regular: 500 !important;
    --plyr-font-weight-bold: 700 !important;
}

@media (min-width: 700px) {
    .plyr__control.plyr__control--overlaid {
        transform: scale(1.5) !important;
        margin-top: -4% !important;
        margin-left: -4% !important;
    }
}

@media (min-width: 1100px) {
    .plyr__control.plyr__control--overlaid {
        transform: scale(2.5) !important;
        margin-top: -2.5% !important;
        margin-left: -2.5% !important;
    }

    .spinner {
        transform: scale(1.8) !important;
    }
}

@media (max-width: 699px) {
    .plyr__control.plyr__control--overlaid {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    .spinner {
        transform: scale(1.3) !important;
    }
}

.spinner {
    width: fit-content;
    font-size: 17px;
    font-family: monospace;
    line-height: 1.4;
    font-weight: 700;
    padding: 30px 2px 50px;
    background: linear-gradient(#b81b0e 0 0) 0 0 / 100% 100% no-repeat content-box padding-box;
    position: relative;
    overflow: hidden;
    animation: 3s cubic-bezier(1, 175, .5, 175) infinite l10-0;
    transform: scale(1.5) !important;
}

.spinner::before {
    content: "Chargement";
    display: inline-block;
    animation: 3s infinite l10-2;
}

.spinner::after {
    content: "";
    position: absolute;
    width: 34px;
    height: 28px;
    top: 110%;
    left: calc(50% - 16px);
    background: linear-gradient(90deg, #0000 12px, #b81b0e 0 22px, #0000 0 26px, #fdc98d 0 32px, #0000) bottom 26px left 50%, linear-gradient(90deg, #0000 10px, #b81b0e 0 28px, #fdc98d 0 32px, #0000) bottom 24px left 50%, linear-gradient(90deg, #0000 10px, #643700 0 16px, #fdc98d 0 20px, #000 0 22px, #fdc98d 0 24px, #000 0 26px, #b81b0e 0 32px, #0000 0) bottom 22px left 50%, linear-gradient(90deg, #0000 8px, #643700 0 10px, #fdc98d 0 12px, #643700 0 14px, #fdc98d 0 20px, #000 0 22px, #fdc98d 0 28px, #b81b0e 0 32px, #0000 0) bottom 20px left 50%, linear-gradient(90deg, #0000 8px, #643700 0 12px, #fdc98d 0 22px, #000 0 30px, #b81b0e 0 32px, #0000 0) bottom 18px left 50%, linear-gradient(90deg, #0000 12px, #fdc98d 0 26px, #b81b0e 0 30px, #0000 0) bottom 14px left 50%, linear-gradient(90deg, #fdc98d 6px, #b81b0e 0 14px, #222a87 0 16px, #b81b0e 0 22px, #222a87 0 24px, #b81b0e 0 28px, #0000 0 32px, #643700 0) bottom 12px left 50%, linear-gradient(90deg, #fdc98d 6px, #b81b0e 0 16px, #222a87 0 18px, #b81b0e 0 24px, #b81b0e 0 26px, #0000 0 30px, #643700 0) bottom 10px left 50%, linear-gradient(90deg, #0000 10px, #b81b0e 0 16px, #222a87 0 24px, #feee49 0 26px, #222a87 0 30px, #643700 0) bottom 8px left 50%, linear-gradient(90deg, #0000 12px, #222a87 0 18px, #feee49 0 20px, #222a87 0 30px, #643700 0) bottom 6px left 50%, linear-gradient(90deg, #0000 8px, #643700 0 12px, #222a87 0 30px, #643700 0) bottom 4px left 50%, linear-gradient(90deg, #0000 6px, #643700 0 14px, #222a87 0 26px, #0000 0) bottom 2px left 50%, linear-gradient(90deg, #0000 6px, #643700 0 10px, #0000 0) bottom 0 left 50%;
    background-size: 34px 2px;
    background-repeat: no-repeat;
    animation: inherit;
    animation-name: l10-1;
}

@keyframes l10-0 {
    0%,
    30% {
        background-position: 0 0;
    }
    100%,
    50% {
        background-position: 0 -0.1px;
    }
}

@keyframes l10-1 {
    100%,
    50% {
        top: 109.5%;
    }
}

@keyframes l10-2 {
    0%,
    30% {
        transform: translateY(0);
    }
    100%,
    80% {
        transform: translateY(-260%);
    }
}

/* Styles spécifiques pour le lecteur vidéo */
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90; /* Placez-le au-dessus des autres éléments */
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour maintenir le rapport d'aspect et remplir l'écran */
}

#video-error {
    position: fixed; /* Changez de absolute à fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; /* Au-dessus du conteneur du lecteur */
    background: #b81b0e !important;
    border-radius: 12px;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: Rubik, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    max-width: 90%;
    width: 600px;
    height: auto; /* Modifiez la hauteur pour auto pour s'adapter au contenu */
}

.logo-container {
    position: fixed; /* Changez de absolute à fixed */
    top: 20px;
    left: 20px;
    z-index: 100; /* S'assurer qu'il est au-dessus du lecteur */
}

.logo {
    max-width: 100px;
    height: auto;
}
